/* stylesheet */

html, body {
	background:#333;
	color:#fff;
	font-family:sans-serif;
}
a {
	color:#d08;
}


#content {
	position:absolute;
	left:480px;
}
#members, #members li {
	margin:0;
	padding:0;
}
	#members li {
		list-style-type:none;
		text-transform: capitalize;
	}


#faces {
	list-style-type:none;
	margin:0;
	padding:0;
	width:450px;
	position:absolute;
	top:0px;
	left:0;
}
	#faces li {
		float:left;
		width: 150px;
		height: 150px;
		background-attachment: fixed;	
		background-position: 0 0;
	}
		#faces li a {
			display:block;
			width:100%;
			height:100%;
		}
