/* stylesheet */

html, body {
	background:#333;
	color:#fff;
	font-family:sans-serif;
}

#faces {
	background:#f00;
	list-style-type:none;
	margin:0;
	padding:0;
	width:450px;
}
#faces li {
	float:left;
	width: 150px;
	height: 150px;
	background:#333;
	background:#f0f;
}

#faces .amy {
	background-image: url("images/amy.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#faces .andrew {
	background-image: url("images/andrew.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 300 0;
}

#faces .angelisa {
	background-image: url("images/angelisa.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 300;
}

#faces .bianca {
	background-image: url("images/bianca.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 150;
}

#faces .bradley {
	background-image: url("images/bradley.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 300;
}

#faces .dwana {
	background-image: url("images/dwana.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 300;
}

#faces .gabe {
	background-image: url("images/gabe.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 300;	
}

faces .karina {
	background-image: url("images/karina.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 300;
}

#faces .my {
    background-image: url("images/myphan.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:0 300;
}

