/ *style sheet* /

body {
			background : #2E2B27;
			color : #ffffff;
			font-family: sans-serif;
		}

		.container {
			background: #575247;
			max-width:860px;
			margin: 0 auto;
			padding: 30px;
		}
		.profile {
			height:270px;
			padding:20px;
			background:#343434;
		}
		.pic {
			float:left;
			width: 200px;
			margin-right:30px;
		}
		.about {
			margin-top:100px;
		}
		.bio {

		}