
body{
	background : black;
	color : #47D9BF;
	font-family: sans-serif;
}
p{
	text-align: left;
	background: #04518C;
}
h1,{
	text-align: center;
	color: #F2D03B;
}

h2, h3{
	text-align: left;
	color: #F2D03B;
}
.container{
	background: #003056;
	max-width: 860px;
	padding: 30px;
	margin: 0 auto;
}
.project{
	background: #04518C;
	color: #47D9BF;
	margin: 0 auto;
	padding: 10px;
}
.profile{
	height: 400px;
	padding: 30px;
	background: #04518C;
	margin: 0 auto;
	text-align: center;
}
.about{

}
.pic{
	float: left;
	width: 200px;
	margin-right: 30px;
}
.bio{

}